.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  margin-top: 2em;
}

.logo {

}

.reviewImg {
  width: 10rem;
  height: 8rem;
  border-radius: 50%;
}

.revCard {
  text-align: center;
}

.revCat ul {
  display: inline-block;
  color: #61dafb;
}

.revCat {
  background: #212121;
  margin-top: 2rem;
}

.reviewsList {
  background-color: #fc3838;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 30%;
}

.reviewsList ul{
  list-style: none;
}

#listTitle{
  border-style: solid;
  border-bottom-width: 0.15rem;
  background-color: #212121;
  border-color: black;
}
#listImage {
  width: 25rem;
  height: 10rem;
  padding-top: 1rem;
  border-style: solid;
  border-top-width: 0px;
  background-color: #212121;
  border-color: black;
}

.reviewsListUl p {
  color: white;
}

.catTitle {
  text-decoration: none;
  color: white;
}

a:link, a:visited {
  /* text-decoration: none; */
  color: white;
}

a:hover, a:active {
  color: #fc3838;
}

.error-img {
  margin-top: 35px;
  width: 30%;
  height: 40%;
}

.LoadBG {
  background-color: #fc3838;
  padding-bottom: 100vh;
  padding-top: 10px;
}